<mat-card class="example-card">
    <mat-card-header>
        <mat-card-title>Votre panier :</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-grid-list cols="5">
            <mat-grid-tile *ngFor="let nft of cart">
                <app-nft [retirer]="true" [nft]="nft"></app-nft>
            </mat-grid-tile>
        </mat-grid-list>
    </mat-card-content>
    <mat-card-actions>
        <button (click)="cancelCart()" mat-button>ANNULER</button>
        <button (click)="buyCart()" mat-button>ACHETER</button>
    </mat-card-actions>
</mat-card>