<div fxLayoutAlign="center center" fxFlexFiill class="main-div">
    <mat-card fxFlex="25">
        <mat-toolbar color="primary">Page de connexion</mat-toolbar>
        <form fxLayoutAlign="strech" fxLayout="column" class="login-form">
            <mat-form-field>
                <input matInput placeholder="Pseudo">
            </mat-form-field>

            <mat-form-field>
                <input matInput type="password" placeholder="Mot de passe">
            </mat-form-field>
            <button mat-raised-button (click)="login()" type="submit" class="mt-5" color="primary">Connexion</button>
        </form>
    </mat-card>
</div>