<div fxLayoutAlign="center center" fxFlexFiill class="main-div">
    <mat-card fxFlex="25">
        <mat-toolbar color="primary">Page de connexion</mat-toolbar>
        <form name="form"
            #f="ngForm"
            novalidate
            (ngSubmit)="f.form.valid && onSubmit()"
            fxLayoutAlign="strech" fxLayout="column" class="login-form">
            <mat-form-field>
                <input matInput name="username" [(ngModel)]="form.username" #username="ngModel" placeholder="Pseudo" required>
            </mat-form-field>

            <mat-form-field>
                <input matInput name="password" [(ngModel)]="form.password" #password="ngModel" placeholder="Mot de passe" required type="password">
            </mat-form-field>
            <button mat-raised-button type="submit" class="mt-5" color="primary">Connexion</button>
        </form>
    </mat-card>
</div>