<div fxLayoutAlign="center center" fxFlexFiill class="main-div">
    <mat-card fxFlex="25">
        <mat-toolbar color="primary">Page de connexion</mat-toolbar>
        <form name="form"
            #f="ngForm"
            novalidate
            (ngSubmit)="onSubmit()"
            fxLayoutAlign="strech" fxLayout="column" class="login-form" [formGroup]="formGroup">
            <mat-form-field>
                <input matInput name="username" placeholder="Pseudo" formControlName="username">
            </mat-form-field>

            <mat-form-field>
                <input matInput name="password" placeholder="Mot de passe" type="password" formControlName="password">
            </mat-form-field>
            <button mat-raised-button type="submit" class="mt-5" color="primary">Connexion</button>
        </form>
    </mat-card>
</div>