<!-- As a heading -->
<mat-toolbar color="primary" class="container">
    <h1 style="font-family: 'Press Start 2P', cursive;">PokéNFT</h1>
    <span class="example-spacer"></span>
    <div class="container">
        <button style="margin-right: 2px;" mat-icon-button>
            <a routerLink="/home" routerLinkActive="active"><mat-icon>home</mat-icon></a>
        </button>
        <mat-icon-button style="margin-top: 7px;" [matMenuTriggerFor]="compte" class="container">
            <mat-icon>more_vert</mat-icon>
        </mat-icon-button>
        <mat-menu #compte="matMenu">
            <button *ngIf="isLoggedIn" mat-menu-item routerLink="account" routerLinkActive="active">
                <mat-icon>account_circle</mat-icon>
                <span>Compte</span>
            </button>
            <button *ngIf="!isLoggedIn" routerLink="login" mat-menu-item>
                <mat-icon>login</mat-icon>
                <span>Connexion</span>
            </button>
            <button *ngIf="isLoggedIn" (click)="logout()" mat-menu-item>
                <mat-icon>logout</mat-icon>
                <span>Déconnexion</span>
            </button>
        </mat-menu>
    </div>
</mat-toolbar>