<mat-card class="example-card">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{ this.name }}</mat-card-title>
    </mat-card-header>
    <img style="height: 150px; width: 150px;" class="carte" mat-card-image src="{{ this.filepath }}">
    <mat-card-content>
        <mat-card-subtitle>Créateur : {{ this.creator }}</mat-card-subtitle>
        {{ this.price }} €
    </mat-card-content>
    <mat-card-actions>
        <button (click)='addToCart()' mat-button>AJOUTER</button>
    </mat-card-actions>
</mat-card>