<mat-card class="example-card">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{ this.name }}</mat-card-title>
    </mat-card-header>
    <img style="height: 150px; width: 150px;" class="carte" mat-card-image src="{{ this.filepath }}">
    <mat-card-content>
        <mat-card-subtitle>Créateur : {{ this.creator }}</mat-card-subtitle>
        {{ this.price }} €
    </mat-card-content>
    <mat-card-actions *ngIf="ajouter">
        <button (click)='addToCart()' mat-button>AJOUTER</button>
    </mat-card-actions>
    <mat-card-actions *ngIf="retirer">
        <button (click)='removeFromCart()' mat-button>RETIRER</button>
    </mat-card-actions>
    <mat-card-actions *ngIf="vendre">
        <button (click)='sell()' mat-button>VENDRE</button>
    </mat-card-actions>
    <mat-card-actions *ngIf="annuler">
        <button (click)='cancel()' mat-button>ANNULER</button>
    </mat-card-actions>
</mat-card>