<mat-card class="example-card">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{ this.name }}</mat-card-title>
    </mat-card-header>
    <img style="max-height: 150px; max-width: 400px;" mat-card-image src="{{ this.filepath }}">
    <mat-card-content>
        <mat-card-subtitle>Créateur : {{ this.creator }}</mat-card-subtitle>
        {{ this.price }} €
    </mat-card-content>
    <mat-card-actions>
        <button mat-button>ACHETER</button>
    </mat-card-actions>
</mat-card>